        <!-- Header -->
        <div class="header">
            <!-- Logo -->
            <div class="header-left">
              <a href="/admindashboard" class="logo">
                <img src="/assets/img/side-logo.png" alt="Logo">
              </a>
              <a href="/admindashboard" class="logo logo-small">
                <img src="/assets/img/logo.png" alt="Logo" width="30" height="30">
              </a>
            </div>

<div class="menu-toggle">
  <a href="javascript:void(0);" id="toggle_btn">
  <i class="fas fa-bars"></i>
  </a>
  </div>
            <!-- /Logo -->
            <!-- <a href="javascript:void(0);" id="toggle_btn">
              <i class="fas fa-align-left"></i>
            </a> -->
            <!-- Mobile Menu Toggle -->
            <!-- <a class="mobile_btn" id="mobile_btn">
              <i class="fas fa-bars"></i>
            </a> -->
            <!-- Header Right Menu -->
            <ul class="nav user-menu">
              <li class="nav-item dropdown has-arrow">
                <a href="/adminlogout">
                  <i class="fas fa-sign-out-alt fa-2x"></i>
                </a>
              </li>
            </ul>
          </div>
          <!-- /Header -->
          <!-- Sidebar -->
          <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
              <div id="sidebar-menu" class="sidebar-menu">
                <ul>
                  <li class="menu-title">
                    <span>Main Menu</span>
                  </li>
                  <li class="submenu">
                    <a href="/admindashboard">
                      <i class="fas fa-user-graduate"></i>
                      <span>DASHBOARD </a>
                    <!-- <ul><li><a href="dashboard.php">HOME</a></li><li><a href="fd.php">NEW OUTPATIENT ENTRY</a></li><li><a href="search.php">IN PATIENT REGISTRATION</a></li><li><a href="patient_bdetails.php">PATIENT DETAILS</a></li> -
                              </ul> -->
                  </li>

<li class="submenu">
  <a href="#">
    <i class="fas fa-code-branch"></i> 
    <span>BRANCH</span>
    <span class="menu-arrow"></span>
  </a>
  <ul>
    <li><a href="/branchcreation">BRANCH CREATION</a></li>
    <li><a href="/branchlist">BRANCH LIST</a></li>
    <li><a href="/branchlist">BRANCH EDIT</a></li>

  </ul>
</li>

<li class="submenu">
  <a href="#">
    <i class="fas fa-user-tie"></i>
    <span>EMPLOYEE</span> 
    <span class="menu-arrow"></span>
  </a>
  <ul>
    <li><a href="/employeecreation">EMPLOYEE CREATION</a></li>
    <li><a href="/employeelist">EMPLOYEE LIST</a></li>
    <li><a href="/employeelist">EMPLOYEE UPDATE</a></li>

  </ul>
</li>

<li class="submenu">
  <a href="#">
    <i class="fas fa-user-tie"></i>
    <span>USERS</span> 
    <span class="menu-arrow"></span>
  </a>
  <ul>
    <li><a href="/usercreation">USER CREATION</a></li>
    <li><a href="/userlist">USER LIST</a></li>
    <li><a href="/userlist">USER UPDATE</a></li>

  </ul>
</li>

<li class="submenu">
  <a href="#">
    <i class="fas fa-user-friends"></i>
    <span>MEMBER</span>
    <span class="menu-arrow"></span>
  </a>
  <ul>
    <li><a href="/membercreation">MEMBER CREATION</a></li> 
    <li><a href="/memberslist">MEMBERS LIST</a></li>
  </ul>
</li>

<li class="submenu">
  <a href="#">
    <i class="fas fa-user-check"></i>
    <span>ACTIVE MEMBER</span>
    <span class="menu-arrow"></span>
  </a>
  <ul>
    <li><a href="/activemembercreation">ACTIVE MEMBER CREATION</a></li>
    <li><a href="/activememberslist">ACTIVE MEMBERS LIST</a></li>
    <li><a href="/activememberbusinessreport">BUSINESS REPORT</a></li>


  </ul>  
</li>

<li class="submenu">
  <a href="#">
    <i class="fas fa-university"></i>
    <span>ACCOUNT</span>
    <span class="menu-arrow"></span>
  </a>
  <ul>
    <li><a href="/accountcreation">ACCOUNT CREATION</a></li>
    <li><a href="/accountslist">ACCOUNTS LIST</a></li>
  </ul>
</li>

<li class="submenu">
  <a href="#">
    <i class="fas fa-exchange-alt"></i>
    <span>TRANSACTION</span>
    <span class="menu-arrow"></span>
  </a>
  <ul>
    <li><a href="/transactioncreation">TRANSACTION CREATION</a></li>
    <li><a href="/transactionslist">TRANSACTIONS LIST</a></li>
  </ul>
</li>

<li class="submenu">
  <a href="#">
    <i class="fas fa-book"></i>
    <span>CASH BOOK ENTRY</span> 
    <span class="menu-arrow"></span>
  </a>
  <ul>
    <li><a href="/cashbookcreation">CASH BOOK ENTRY CREATION</a></li>
    <li><a href="/cashbooklist">CASH BOOK ENTRIES LIST</a></li>
  </ul>
</li>

<li class="submenu">
  <a href="#">
    <i class="fas fa-file-invoice-dollar"></i>
    <span>ACCOUNTING REPORTS</span>
    <span class="menu-arrow"></span>
  </a>
  <ul>
    <li><a href="/accountingreportcreation">ACCOUNTING REPORT CREATION</a></li>
    <li><a href="/accountingreportslist">ACCOUNTING REPORTS LIST</a></li>
  </ul>
</li>

<li class="submenu">
  <a href="#">
    <i class="fas fa-hand-holding-usd"></i>
    <span>LOAN</span>
    <span class="menu-arrow"></span>
  </a>
  <ul>
    <li><a href="/loancreation">LOAN CREATION</a></li>
    <li><a href="/loanslist">LOANS LIST</a></li>
  </ul>
</li>

<li class="submenu">
  <a href="#">
    <i class="fas fa-calendar-alt"></i>
    <span>MATURITY SETTINGS</span>
    <span class="menu-arrow"></span>
  </a>
  <ul>
    <li><a href="/maturitysettingscreate">MATURITY SETTINGS CREATE</a></li>
    <li><a href="/maturitysettingslist">MATURITY SETTINGS LIST</a></li>
  </ul>
</li>

<li class="submenu">
  <a href="#">
    <i class="fas fa-user-cog"></i>
    <span>ADMIN ENTRY</span>
    <span class="menu-arrow"></span>
  </a>
  <ul>
    <li><a href="/adminentrycreate">ADMIN ENTRY CREATE</a></li>
    <li><a href="/adminentrylist">ADMIN ENTRIES LIST</a></li>
  </ul>
</li>

<li class="submenu">
  <a href="#">
    <i class="fas fa-clipboard-list"></i>
    <span>ADMIN REPORT</span> 
    <span class="menu-arrow"></span>
  </a>
  <ul>
    <li><a href="/adminreportcreate">ADMIN REPORT CREATE</a></li>
    <li><a href="/adminreportlist">ADMIN REPORTS LIST</a></li>
  </ul>
</li>
                  <!-- <li class="submenu"><a href="#"><i class="fa fa-list-alt"></i><span>TRANSACTION</span><span class="menu-arrow"></span></a><ul><li><a href="search-discharge.php">Discharge Summary</a></li></ul></li> -->
                  <!-- <li class="submenu"><a href="#"><i class="fas fa-book"></i><span>APPOINTMENTS</span><span class="menu-arrow"></span></a><ul><li><a href="prebooking.php">Appointments</a></li><li><a href="prebooking_list.php">Today Appointments List</a></li></ul></li><li class="submenu"><a href="#"><i class="fas fa-user"></i><span>PROFILE</span><span class="menu-arrow"></span></a><ul><li><a href="dashboard.php"><i class="fas fa-home fa-lx"></i>HOME</a></li><li><a href="logout.php"><i class="fas fa-power-off fa-lx"></i> LOG OUT</a></li></ul></li><li class="submenu"><a href="#"><i class="fas fa-cogs"></i><span>SETTINGS</span><span class="menu-arrow"></span></a><ul><li><a href="patient_details.php">Update Patient Profile</a></li><li><a href="search-usf.php">Update Surgery Profiles</a></li><li><a href="search-upf.php">Update Pregnancy Profiles</a></li><li><a href="search-udischarge.php">Update Discharge Profiles</a></li></ul></li> -->
                </ul>
              </div>
            </div>
          </div>
          <!-- /Sidebar -->