<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>NEW MEMBER CREATION</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="assets/img/fav-logo.png">
    <!-- Fontfamily -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;1,400&display=swap">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css">
    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="assets/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="assets/plugins/fontawesome/css/all.min.css">
    <!-- Main CSS -->
    <link rel="stylesheet" href="assets/css/style.css">
  </head>
  <body>
    <div class="main-wrapper"><%- include('branch_menu1.ejs') %> <div class="page-wrapper">
        <div class="content container-fluid">
          <!-- Page Header -->
          <div class="page-header">
            <div class="row">
              <div class="col-sm-12">
                <h3 class="page-title">NEW MEMBER CREATION FORM</h3>
                <ul class="breadcrumb">
                  <li class="breadcrumb-item">
                    <a href="/branchdashboard">Dashboard</a>
                  </li>
                  <li class="breadcrumb-item active">Member Creation Form</li>
                </ul>
              </div>
            </div>
          </div>
          <!-- /Page Header -->
          <!-- Overview Section -->
          <div class="row">
            <div class="col-xl-6 d-flex">
              <div class="card flex-fill">
                <div class="card-header">
                  <h5 class="card-title">Branch Details</h5>
                </div>
                <form action="/membercreation" method="POST" class="needs-validation">
                  <div class="card-body">
                    <div class="form-group row">
                      <label class="col-lg-3 col-form-label">Branch Code</label>
                      <div class="col-lg-9">
                        <input type="text" name="branch_code" id="branch_code" value="<%= branch_code  %>" class="form-control" readonly="readonly" required>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-lg-3 col-form-label">Member Number</label>
                      <div class="col-lg-9">
                        <input type="text" name="member_code" id="member_code" value="<%= member_code %>" class="form-control" readonly="readonly" required>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
            <div class="col-xl-6 d-flex">
              <div class="card flex-fill">
                <div class="card-header">
                  <h5 class="card-title">Proposer Details</h5>
                </div>
                <div class="card-body">
                  <div class="form-group row">
                    <label class="col-lg-3 col-form-label">Active Member Code</label>
                    <div class="col-lg-9">
                      <input type="text" name="prosper_code" onChange="getProsperName()" id="prosper_code" class="form-control" required>
                      <div class="invalid-feedback"> Please choose "active member code" </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-lg-3 col-form-label">Name</label>
                    <div class="col-lg-9">
                      <input type="text" name="prosper_name" id="prosper_name" value="" class="form-control" readonly="readonly" required>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="row">
              <div class="col-lg-12">
                <div class="card">
                  <div class="card-header">
                    <h5 class="card-title">Personal Details</h5>
                  </div>
                  <div class="card-body">
                    <div class="form-group row">
                      <label class="col-form-label col-lg-2">Name Of The Applicant</label>
                      <div class="col-lg-10">
                        <div class="input-group">
                          <select id="member_desig" name="member_desig" class="form-control form-select" required>
                            <option>-- Select --</option>
                            <option value="Mr.">Mr</option>
                            <option value="Ms.">Miss</option>
                          </select>
                          <input id="member_name" name="member_name" type="text" class="form-control" required>
                          <div class="invalid-feedback"> Please choose "Member Name" </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-form-label col-md-2">Application Number</label>
                      <div class="col-md-10">
                        <input id="application_number" name="application_number" type="text" class="form-control" required>
                        <div class="invalid-feedback"> Please choose "Member Application Number" </div>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-form-label col-md-2">Father's/Husbend's Name</label>
                      <div class="col-md-10">
                        <input type="text" id="member_guard" id="member_guard" name="member_guard" class="form-control" required>
                        <div class="invalid-feedback"> Please choose "Head Name" </div>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-form-label col-md-2">Post</label>
                      <div class="col-md-4">
                        <input id="member_post" name="member_post" type="text" class="form-control" required>
                        <div class="invalid-feedback"> Please choose "Post" </div>
                      </div>
                      <label class="col-form-label col-md-2">District</label>
                      <div class="col-md-4">
                        <input type="text" id="member_dist" name="member_dist" class="form-control" required>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-form-label col-md-2">Pin Code</label>
                      <div class="col-md-4">
                        <input type="text" id="member_pincode" name="member_pincode" class="form-control" required>
                      </div>
                      <label class="col-form-label col-md-2">State</label>
                      <div class="col-md-4">
                        <input type="text" id="member_state" name="member_state" class="form-control" required>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-form-label col-md-2">Address</label>
                      <div class="col-md-10">
                        <textarea rows="4" cols="5" id="member_address" name="member_address" class="form-control" required></textarea>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-form-label col-md-2">Aadhar No</label>
                      <div class="col-md-4">
                        <input id="aadharid" name="aadharid" pattern="^\d{4}\s\d{4}\s\d{4}${12}" maxlength=14 type="text" class="form-control" required>
                      </div>
                      <label class="col-form-label col-md-2">mobile</label>
                      <div class="col-md-4">
                        <input type="text" id="member_mobile" name="member_mobile" pattern="[7-9]{1}[0-9]{9}" maxlength=10 class="form-control" required>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-form-label col-md-2">date of birth </label>
                      <div class="col-md-4">
                        <input type="date" id="member_dob" onChange="getAge()" name="member_dob" class="form-control" required>
                      </div>
                      <label class="col-form-label col-md-2">Age</label>
                      <div class="col-md-4">
                        <input type="text" id="member_age" name="member_age" readonly="readonly" class="form-control" required>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="row">
              <div class="col-lg-12">
                <div class="card">
                  <div class="card-header">
                    <h5 class="card-title">Nominee Details</h5>
                  </div>
                  <div class="card-body">
                    <div class="form-group row">
                      <label class="col-form-label col-md-2">Nominee Name</label>
                      <div class="col-md-10">
                        <input type="text" id="member_nominee" name="member_nominee" class="form-control" required>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-form-label col-md-2">Nominee Age</label>
                      <div class="col-md-4">
                        <input type="text" id="member_nomineeage" name="member_nominee_age" class="form-control" required>
                      </div>
                      <label class="col-form-label col-lg-2">Relation</label>
                      <div class="col-lg-4">
                        <div class="input-group">
                          <select id="member_relation" name="member_relation" class="form-control form-select" required>
                            <option>-- Select --</option>
                            <option value="Father">Father</option>
                            <option value="Header">Husbend</option>
                            <option value="Mother">Mother</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-form-label col-md-2">Nominee aadhar</label>
                      <div class="col-md-4">
                        <input type="text" id="aadharid1" name="aadharid1" pattern="^\d{4}\s\d{4}\s\d{4}${12}" maxlength=14 class="form-control" required>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-form-label col-md-2">Nominee Address</label>
                      <div class="col-md-10">
                        <textarea rows="4" cols="5" id="nominee_address" name="nominee_address" class="form-control" required></textarea>
                      </div>
                    </div>
                    <div class="text-end">
                      <button type="submit" id="submit" name="submit" class="btn btn-primary">Submit</button>
                    </div>
                  </div>
                </div>
                </form>
                <!-- /Page Wrapper -->
              </div>
            </div>
          </div>
          <!-- /Main Wrapper -->
          <!-- jQuery -->
          <script src="assets/js/jquery-3.6.0.min.js"></script>
          <!-- Bootstrap Core JS -->
          <script src="assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
          <!-- Slimscroll JS -->
          <script src="assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
          <!-- Select2 JS -->
          <script src="assets/plugins/select2/js/select2.min.js"></script>
          <!-- Custom JS -->
          <script src="assets/js/script.js"></script>
          <!-- Form Validation JS -->
          <script src="assets/js/form-validation.js"></script>
          <!-- AADHAAR SPACING-->
          <script>
            document.querySelector('#aadharid').addEventListener('keydown', (e) => {
              e.target.value = e.target.value.replace(/(\d{4})(\d+)/g, '$1 $2')
            })
            /* Jquery */
            $('#aadharid').keyup(function() {
              $(this).val($(this).val().replace(/(\d{4})(\d+)/g, '$1 $2'))
            });
            document.querySelector('#aadharid1').addEventListener('keydown', (e) => {
              e.target.value = e.target.value.replace(/(\d{4})(\d+)/g, '$1 $2')
            })
            /* Jquery */
            $('#aadharid1').keyup(function() {
              $(this).val($(this).val().replace(/(\d{4})(\d+)/g, '$1 $2'))
            });

            function getProsperName() {
              const activemember = document.getElementById('prosper_code').value;
              fetch(`/getprosperName/${activemember}`).then(response => response.json()).then(data => {
                document.getElementById('prosper_name').value = data[0]['member_name'];
              }).catch(error => {
                console.error("Error fetching stored timestamp:", error);
              });
            }

            function getAge() {
              const dob = document.getElementById("member_dob").value;
              const dobDate = new Date(dob);
              const diff = Date.now() - dobDate.getTime();
              const age = new Date(diff);
              const calculatedAge = Math.abs(age.getUTCFullYear() - 1970);
              document.getElementById("member_age").value = calculatedAge;
            }

          </script>
  </body>
</html>